.App {
    #background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.App-header {
    background-color: #66ccff;
    height: 100px;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-footer {
    background-color: #66ccff;
    height: 20px;
    padding: 20px;
    color: white;
    text-align: right;
    clear: both;
}

.Content {
    padding: 10px;
}

.Nav {
    width: 20%;
    float: left;
}

.Main {
    #width: 80%;
    float: left;
}


